# PROJET-TDLOG : Market Sentiment Analyzer

# Web Scraping
scrapy>=2.11.0
yfinance>=0.2.36    

# IA & Analyse de Sentiment
transformers>=4.36.0
torch>=2.1.0         # Le moteur de calcul pour FinBERT
sentencepiece>=0.1.99

# Interface Graphique
PyQt6>=6.6.0
matplotlib>=3.8.0    

# Manipulation de Données 
pandas>=2.1.0
numpy>=1.24.0

# Tests & Qualité 
pytest>=7.4.0
pytest-cov>=4.1.0

# Utilitaires 
python-dateutil>=2.8.2
